.heading
{
	text-decoration: underline;
	font-family: arial;
	font-size: x-large;
	text-transform: uppercase;
	font-weight: bold;
}
.general
{
	font-style: italic;
	text-align: justify;
}
.places 
{
	text-decoration: underline;
	font-family: cursive;
	font-size: medium;

}
